* {
  box-sizing: border-box;
}

html {
  background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png') repeat center;
  background-size: cover;
  height: 100vh;
}

body {
  display: block;
}

.upper {
  text-transform: uppercase;
}

.heading {
  font-family: 'Great Vibes', cursive;
  font-size: 3rem;
  line-height: 1.5;
  padding-bottom: 1.5rem;
  text-align: center;
}

/* ==== Header Styles ==== */

.cover {
  
  background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: center;
}

.wrapper {
  position: absolute;
  background-color: hsla(100,0%,0%,.5);
  top: calc(50% - 8.75rem);
  left: 25vw;
  padding: 1.5rem 1.25rem;
  width: 50vw;
  height: 18rem;
  border-radius: 0.2rem;
}

.cover h1 {
  font-family: 'Great Vibes', cursive;
  color: #d2ba87;
  font-size: 7rem;
  line-height: 1.5;
}

.cover h2 {
  font-family: 'Libre Baskerville', serif;
  color: hsla(0,0%,100%,.9);
  font-size: 1.3rem;
  letter-spacing: .15rem;
  font-weight: 500;
  line-height: 1.4;
}

hr {
  border-top: 1px;
  width: 13rem;
  background: hsla(0,0%,100%,.9);
}

.date:before, .date:after {
  background-color: hsla(0,0%,100%,.9);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 1.5rem;
}

.date:before {
  right: .5rem;
  margin-left: -50%;
}

.date:after {
  left: .5rem;
  margin-right: -50%;
}

/* ======== Component Styles ======= */

.locations {
  display: table;
  width: 90%;
  text-align: center;
  color: #444349;
  margin: 2.5rem auto;
  margin-bottom: 3.5rem;
}

.locations h2 {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
  padding-top: 2rem;
}

.locations p {
  font-family: 'Muli', sans-serif;
  font-size: 1.125rem;
  padding: 0 2rem;
  line-height: 1.6;
}

.locations img {
  height: 7.5rem;
  margin: 1.5rem;
}

.ceremony, .photos, .party {
  display: inline-block;
  width: 33%;
}

.program {
  width: 100%;
  background: hsla(100,0%,0%,.6);
  color: #d2ba87;
  line-height: 1.5;
  padding: 2rem;
  display: table;
}

.program-content {
  width: 33%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.quote {
  font-family: 'Muli', sans-serif;
  font-style: oblique;
  font-size: 1.125rem;
  line-height: 1.5;
  padding-bottom: 1.5rem;
}

.program ul {
  font-family: 'Muli', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}

.gifts {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #444349;
  line-height: 1.5;
  margin: 2rem auto;
}

.gifts img {
  height: 7.5rem;
  margin: 2rem auto;
}

.gifts p {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.125rem;
}

.questions-n-answers {
  background: hsla(100,0%,0%,.6);
  color: #d2ba87;
  display: table;
  width: 100%;
  height: auto;
  padding: 2rem;
  margin-bottom: 3.5rem;
}

.travel, .food, .other {
  vertical-align: top;
  margin-bottom: 2rem;
  padding: 0 .5rem;
  display: inline-block;
  width: 32%;
}

.questions-n-answers h2 {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.5rem;
  padding-top: 2rem;
  line-height: 1.5;
}

.questions-n-answers p{
  font-family: 'Muli', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}

.question {
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  line-height: 2;
}

.questions-n-answers a{
  color: #bd806e;
  text-decoration: none;
}

.questions-n-answers a:hover{
  color: #eda087;
}

.contact {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5rem;
  text-align: center;
  color: #444349;
}

.contact p {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.125rem;
  line-height: 3;
}

.contact a {
  color: #bd806e;
  text-decoration: none;
}

.contact a:hover {
  color: #eda087;
}

/* ====== Footer Design ====== */

footer {
  display: table;
  position: relative;
  height: 10vh;
  width: 100%;
  background: #606060;
  color: hsla(0,0%,100%,.9);
  text-align: center;
}

.footer-wrapper {
  display: block;
  position: absolute;
  width: 100%;
  top: calc(50% - 0.5rem);
}

footer small {
  font-family: 'Muli', sans-serif;
  font-size: 0.85rem;
}

footer a {
  color: #bd806e;
  text-decoration: none;
}

footer a:hover{
  color: #eda087;
}

/* ====== Responsive Design ======*/

@media (max-height: 192px){
  footer {
    height: 1.2rem;
  } 
}
  
@media (max-width: 950px) {
  .wrapper{
    height: 28rem;
    top: calc(50% - 14rem);
    }
}

@media (max-width: 825px) {
  .wrapper{
    height: 30rem;
    top: calc(50% - 15rem);
  }
}

@media (max-width: 768px) {
  
  .wrapper {
    height: 10.6rem;
    top: calc(50% - 5.3rem);
    width: 100%;
    left: 0;
  }
  
  .cover h1 {
    font-size: 3rem;
  }
  
  .cover h2 {
    font-size: 1.125rem;
  }
  
  .upper {
    text-transform: none;
  }
  
  .locations h1, .questions-n-answers h1 {
    padding-bottom: 0;
  }
  
  .ceremony, .photos, .party, .travel, .food, .other, .program-content {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
  
  .questions-n-answers h2 {
    text-align: center;
  }
  
  .ceremony:after, .photos:after, .party:after {
    background-color: #444349;
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 33%;
    margin-top: 1.5rem;
  }
  
  .travel:after, .food:after, .other:after {
    background-color: #d2ba87;
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 50%;
    margin-top: 1.5rem;
  }
  
  .ceremony:after, .photos:after, .party:after {
    margin-left: auto;
    margin-right: auto;
  }
  
  .travel:after, .food:after, .other:after {
    margin-left: 25%;
  }
  

}
